
@font-face {
  
  font-family: ar;
  src:url(fonts/../fonts/Bahij_TheSansArabic-Plain.ttf)

}

.thanks{

	color: white;
	font-size: 48px;
	margin-left: 150px;
	margin-right: 150px;
	 font-family: ar;
}

#img1{
	width: 450px;
	height:236px;
	margin-left: 75px;
	padding-top: 64px;
	
}

.div{

	background-color: rgb( 75, 68, 183 );
	width: 600px;
	height: 628px;
	margin-left: 300px;
	margin-top: -10px;


}


#logoDiv{

	background-color: white;
	width: 122px;
	height:120px;
	margin-left: 245px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;


}


#logo{

	width: 82px;
	height: 88px;
	padding-top: 17px; 
	margin-left: 20px;
}



#t{
	margin-left: 260px;
	margin-top: -50px;


}
.p{
	color: rgb( 193, 193, 193 );
	font-family: ar;
	
	
}
#pa{
	padding-top:35px;
	width: 600px;
	height: 300px;
	margin-left: 300px;	
	text-align: center;
}


#under{

	height: 158px;
	margin-top: 0px;
	text-align: center;
	color: red;
}

#ta{
	color: white;
	text-align: center;
	padding-top: 36px;
	font-family: ar;
}
#line{
	border-color: red;
	border-style: solid;
	margin-left: 290px;
	height: 0px;
	width:15px;
	border-bottom:hidden; 
	margin-top:-10px;
}

#social
{
	margin-top: 10px;
}

#twitter{
	margin-right:5px;
	margin-left:5px;
}