
@font-face {
  
  font-family: ar;
  src:url(../fonts/Bahij_TheSansArabic-Plain.ttf)

}

*
{
	margin: 0px;
	padding: 0px;
}

body>*
{
	display: block;
	margin: 0px auto;
}

.thanks{

	color: white;
	font-size: 48px;
	margin-top: 60px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: ar;
}

#img1{
	width: 450px;
	height:205px;
	margin-top: 60px;
	margin-left: 75px;	
}

.div{

	background-color: rgb( 75, 68, 183 );
	width: 600px;
	height: 628px;
	text-align: center;
}


#logoDiv{

	background-color: white;
	width: 122px;
	height:120px;
	margin-left: 245px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;


}


#logo{

	width: 82px;
	height: 88px;
	padding-top: 17px; 
	margin-left: 20px;
}

.p{
	color: rgb( 193, 193, 193 );
	font-family: ar;
	font-size: 24px;
	line-height: 35px;
}
#pa{
	width: 600px;
	height: 390px;
	text-align: justify;
	text-align-last: justify;
	margin-top: 80px;
}

#pa>*
{
	margin: 85px 75px;
}

.textLine
{
	line-height: 45px;
}


#under{

	height: 158px;
	text-align: center;
	font-size: 24px;
}

#ta{
	color: white;
	text-align: center;
	padding-top: 36px;
	font-family: ar;
}
#line{
	border-color: red;
	border-style: solid;
	margin-left: 290px;
	height: 0px;
	width:15px;
	border-bottom:hidden; 
}

#social
{
	margin-top: 10px;
}

#twitter{
	margin-right:5px;
	margin-left:5px;
}